{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Login
{% endblock %}


{% block content %}
    <div class="container text-white">
        <div class="row div-item" style="margin-top: 90px;">
            <div class="card-header">
                <p class="fs-3 text-primary">Login</p>
            </div>
            <div class="card-body">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-success">Login</button>
                </form>
                <div class="mt-3">
                    or create new account!<a href="{% url 'register' %}" style="text-decoration: none"> Register</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}






