{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div style="margin-right: 40px; margin-left: 40px; margin-top: 120px;">
        <h1 class="text-center fw-bold m-4" style="color: #CEAF7F; ">Profile</h1>

        <div style="display: flex">

            <div class="p-3">
                {% if user.profile.image %}
                    <img style="height: 300px; width: auto; margin: 50px;border-style: dotted;border-color: #CEAF7F; border-radius: 150px; border-width: 10px; display: flex;"
                         src="{{ user.profile.image.url }}" alt="">
                {% else %}
                    <img style="height: 300px; width: auto; margin: 50px;border-style: dotted;border-color: #CEAF7F; border-radius: 150px; border-width: 10px; display: flex;"
                         src="/media/profile_img/defa   ult-profile.jpg" alt="">
                {% endif %}
                <h1 class="text-center" style="color: #CEAF7F; font-size: 50px">{{ user.username }}</h1>
            </div>

            <div style="background: transparent; padding: 20px; border-radius: 12px; width: 80%; margin: auto; font-size: 20px; font-weight: bold; color: white;">

                <div class="mt-4" style="display: flex; align-items: center; margin-bottom: 10px;">
                    <span style="white-space: nowrap;">Name</span>
                    <span style="flex: 1; border-bottom: 2px dashed #CEAF7F; margin: 0 10px;"></span>
                    <span style="white-space: nowrap; color: white;">{{ user.first_name }}</span>
                </div>

                <div class="mt-4" style="display: flex; align-items: center; margin-bottom: 10px;">
                    <span style="white-space: nowrap;">Surname</span>
                    <span style="flex: 1; border-bottom: 2px dashed #CEAF7F; margin: 0 10px;"></span>
                    <span style="white-space: nowrap; color: white;">{{ user.last_name }}</span>
                </div>

                <div class="mt-4" style="display: flex; align-items: center;">
                    <span style="white-space: nowrap;">Email</span>
                    <span style="flex: 1; border-bottom: 2px dashed #CEAF7F; margin: 0 10px;"></span>
                    <span style="white-space: nowrap; color: white;">{{ user.email }}</span>
                </div>

                <div class="mt-4" style="display: flex; align-items: center;">
                    <span style="white-space: nowrap;">Phone</span>
                    <span style="flex: 1; border-bottom: 2px dashed #CEAF7F; margin: 0 10px;"></span>
                    <span style="white-space: nowrap; color: white;">{{ user.phone }}</span>
                </div>

            </div>

        </div>
    </div>
{% endblock %}









