{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock %}

{% block content %}
    <div class="container-fluid px-4 px-md-5">
        <div class="row align-items-center" style="margin-top: 100px;">
            <h2 class="text-md-start m-4 justify-content-center d-flex" style="color: #CEAF7F;">
                {{ food.name_of_food }}
            </h2>
           <hr style="border: 2px solid #CEAF7F; width: 100%;margin: 25px; opacity: 0.8;">

            <!-- Chap taraf: rasm -->
            <div class="col-12 col-md-6 d-flex justify-content-center mb-5 mb-md-0">
                {% for image in food.images.all %}
                <img class="img-fluid shadow-lg"
                     style="width: 100%; max-width: 400px; height: auto; border-radius: 30px; transition: 0.4s;"
                     src="{{ image.image.url }}" alt="Food photo"
                     onmouseover="this.style.transform='scale(1.03)'"
                     onmouseout="this.style.transform='scale(1)'">
                {% endfor %}
            </div>

            <div class="col-12 col-md-6">
                <div style="background: rgba(37, 42, 43, 0.7);
                        padding: 40px;
                        border-radius: 20px;
                        color: white;
                        font-size: 20px;
                        font-weight: bold;
                        max-width: 90%;
                        margin: auto;">


                    <div style="display: flex; align-items: center; margin-bottom: 12px;">
                        <span style="white-space: nowrap;">Type</span>
                        <span style="flex: 1; border-bottom: 2px dashed #CEAF7F; margin: 0 10px;"></span>
                        <span style="white-space: nowrap;">{{ food.type }}</span>
                    </div>

                    <div style="display: flex; align-items: center; margin-bottom: 12px;">
                        <span style="white-space: nowrap;">Price</span>
                        <span style="flex: 1; border-bottom: 2px dashed #CEAF7F; margin: 0 10px;"></span>
                        <span style="white-space: nowrap;">{{ food.price }} $</span>
                    </div>

                    <div style="display: flex; justify-content: end; margin-top: 10px;">
                        <span style="color: #CEAF7F;">{{ food.created_at|timesince }} ago</span>
                    </div>

                </div>
                <!-- Tugmalar -->
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 mt-5">
                    <form action="{% url 'cart_add' food_id=food.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit"
                                style="background-color: #CEAF7F;
                       color: white;
                       border: none;
                       border-radius: 10px;
                       padding: 12px 35px;
                       font-weight: bold;
                       transition: 0.3s;
                       cursor: pointer;
                       width: 220px;"
                                onmouseover="this.style.backgroundColor='#b8946f'"
                                onmouseout="this.style.backgroundColor='#CEAF7F'">
                            Add to Cart
                        </button>
                    </form>

                    <a href="{% url 'update' food.id %}"
                       style="background-color: #CEAF7F;
              color: white;
              border: none;
              border-radius: 10px;
              padding: 12px 35px;
              font-weight: bold;
              text-decoration: none;
              transition: 0.3s;
              width: 220px;
              text-align: center;"
                       onmouseover="this.style.backgroundColor='#b8946f'"
                       onmouseout="this.style.backgroundColor='#CEAF7F'">
                        Update Info
                    </a>
                </div>

            </div>
        </div>

        <!-- Tavsif -->
        {% if food.description %}
            <div class="row mt-5 justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <h3 class="text-center mb-3" style="color: #CEAF7F;">Description</h3>
                    <div class="p-4 text-white"
                         style="border-radius: 20px; background-color: rgba(37, 42, 43, 0.7);">
                        <h6>{{ food.description }}</h6>
                        <h6 class="text-end">{{ food.description|wordcount }}</h6>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
