{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{#{% block search %}#}
{#	<form class="d-flex">#}
{#                <input name="search_published_foods" class="form-control me-2" type="search" placeholder="Search foods" aria-label="Search">#}
{#                <button style="background-color: #CEAF7F; color: white; border: none; border-radius: 8px;"#}
{#                        class="btn  btn-lg" type="submit">Search#}
{#                </button>#}
{#            </form>#}
{#{% endblock %}#}
{% block content %}

    {% if user.is_authenticated %}
        <div style="margin-left: 40px; margin-right: 40px; margin-top: 90px">

            <div class="row">
                <div class="col-6 d-flex justify-content-center align-items-center" style="height: 70vh;">
                    <div class="text-center mt-5">
                        <h1 class="mt-5" style="color: #CEAF7F">Assalomu alaykum, hurmatli mijoz!</h1>
                        <h1 class="mt-5" style="font-size: 70px; color: white">Mazali lahza hech qachon
                            unutilmaydi!</h1>
                        <h6 class="mt-5" style="color: #CEAF7F">
                            Bizning betakror restoranimizda ta’mlar sayohatini kashf eting.
                            Ishtiyoq va mahorat bilan yaratilgan mazali taomlardan iborat
                            unutilmas oshxona tajribasiga sho‘ng‘ing.
                        </h6>
                        <span class="d-block text-start text-white m-3"><i class="bi bi-alarm"
                                                                           style="color: #CEAF7F"></i> Ish vaqti: 9.00 dan 22.00 gacha</span>

                        <div class="row g-3 px-3 mt-5">
                            <div class="col-6">
                                <button class="btn fw-bold btn-lg w-100"
                                        style="background-color: #CEAF7F; color: white; border: none; border-radius: 10px;">
                                    Stol buyurtma qilish
                                </button>
                            </div>

                            <div class="col-6">
                                <a href="#menu" class="btn btn-light fw-bold btn-lg w-100">
                                    Menyuga o'tish
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-6">

                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/media/carousel_photos/carousel1.jpg" class="d-block w-100" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/carousel_photos/carousel2.jpg" class="d-block w-100" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/carousel_photos/carousel3.jpg" class="d-block w-100" alt="">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mt-5">
                    <div class="card-header">
                        <h1 class="text-white fw-bold">Bizning oshpazlik sayohatimiz!</h1>
                    </div>
                    <div class="card-body text-white fw-light">
                        <h6>Har bir taom o‘zida bir hikoya yashiradi. Nafaqat ta’mlar uyg‘unligi, balki ularning ortida
                            yillar davomida sayqallangan tajriba va qalb qo‘shilgan mehmonnavozlik turadi.</h6>
                        <h6>Nozik lazzatlar, ehtiyotkorlik bilan tanlangan mahsulotlar va mahoratli qo‘llar orqali
                            yaratilgan taomlar sizni unutilmas bir sayohatga chorlaydi. Har bir luqma sizni yangi hislar
                            olamiga eltadi, har bir hid esa sizni oshpazlikning sehrli dunyosiga olib kiradi.</h6>
                        <h6>Bu sayohat sizni nafaqat to‘ydiradi, balki ruhingizni ham boyitadi. Chunki bizning
                            maqsadimiz –
                            sizni oddiy ovqatlanishdan ko‘ra, butun bir oshxona madaniyati bilan tanishtirishdir.</h6>
                    </div>
                    <div class="mt-5 p-4" style="border: 2px solid #CEAF7F; border-radius: 20px; display: flex">
                        <img style="width: 80px; height: auto; border-radius: 100px"
                             src="/media/background_photos/shief.jpg" alt="">
                        <p style="margin-left: 15px; color: white;">"Pazandachilik - bu barcha quyidagi xususiyatlarni
                            ifodalash mumkin bo'lgan tildir: uyg'unlik,
                            ijodkorlik, baxt, go'zallik, she'riyat, murakkablik, sehr, hazil, provokatsiya va
                            madaniyat."
                            - Bosh oshpaz</p>
                    </div>
                </div>
                <div class="col-6 mt-5">
                    <div class="position-relative d-inline-block">
                        <img src="/media/background_photos/ostki.jpg" class="img-fluid rounded shadow"
                             alt="Orqa rasm">
                        <img src="/media/background_photos/ustki.jpg"
                             class="img-fluid rounded shadow position-absolute bottom-0 end-0"
                             style="width: 50%; transform: translate(10%, 20%);" alt="Oldingi rasm">
                    </div>

                </div>

            </div>
            <div class="d-flex justify-content-around text-center text-white p-5"
                 style="border-radius: 20px; margin-top: 100px; background-color: rgba(37, 42, 43, 0.7);">
                <div>
                    <span class="fw-bold fs-3">
                      <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="0"
                            class="purecounter" style="color: #CEAF7F;font-size: 40px">15+
                      </span>
                    </span>
                    <p class="mb-0">Yillik tajriba</p>
                </div>

                <div>
    <span class="fw-bold fs-3">
      <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="0"
            class="purecounter" style="color: #CEAF7F; font-size: 40px">5</span>
    </span>
                    <p class="mb-0">Expert oshpazlar</p>
                </div>

                <div>
    <span class="fw-bold fs-3">
      <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="0"
            class="purecounter" style="color: #CEAF7F; font-size: 40px">3</span>
    </span>
                    <p class="mb-0">Xalqaro mukofotlar</p>
                </div>

                <div>
    <span class="fw-bold fs-3">
      <span data-purecounter-start="0" data-purecounter-end="15000" data-purecounter-duration="0"
            class="purecounter" style="color: #CEAF7F; font-size: 40px">15000+</span>
    </span>
                    <p class="mb-0">Mamnun mijozlar</p>
                </div>
            </div>

            <div id="menu"><h1 class="mt-5"
                               style="justify-content: center; display: flex; color: #CEAF7F; font-size: 40px">
                Menu</h1></div>

            <div class="row mt-5">
                {% for food in foods %}

                    <a href="{% url 'detail' food.id %}" class="col-6 d-flex mb-4" style="text-decoration: none;">
                        <div class="w-100 d-flex"
                             style="background-color: rgba(37, 42, 43, 0.7); border-radius: 10px; transition: 0.3s;"
                             onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 8px 16px rgba(0,0,0,0.4)';"
                             onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='none';">

                            <img class="p-2 mt-2" style="width: 150px; height: 120px; border-radius: 20px"
                                 src="{{ food.photo.url }}" alt="">

                            <div class="card-body p-2 text-white">
                                <span style="font-size: 25px" class="fw-bold">{{ food.name_of_food }} </span>
                                <span class="p-1" style="font-size: 15px; color: #CEAF7F"><i
                                        class="bi bi-hash"></i>{{ food.type }}</span>
                                <h6>{{ food.description|truncatechars:100 }}</h6>
                                <form action="#" style="color: #CEAF7F; font-weight: bold;">Narxi: {{ food.price }}$
                                </form>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div>

            <div>
                <h1 style="justify-content: center; display: flex; color: #CEAF7F; margin: 25px; font-size: 40px">
                    Unitilmas lahzalarni
                    biz bilan yarating!!! </h1>
                <h6 style="justify-content: center; display: flex; color: white;">Bu yerda siz faqatgina taom emas,
                    balki
                    samimiy muhit, mehr va quvonchni his qilasiz. </h6>
                <h6 style="justify-content: center; display: flex; color: white;"> Do‘stlaringiz yoki oilangiz bilan
                    kelib,har bir lahzani mazmunli o‘tkazing — chunki hayotning eng chiroyli </h6>
                <h6 style="justify-content: center; display: flex; color: white;"> daqiqalari birgalikda yoziladi.</h6>

                <div class="row" style="justify-content: center; display: flex;">
                    <div class="col-3 p-3 m-5"
                         style="background-color: rgba(37, 42, 43, 0.7);border-radius: 20px; transition: 0.3s;"
                         onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 8px 16px rgba(0,0,0,0.4)';"
                         onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='none';">
                        <i style="font-size: 80px; justify-content: center;display: flex;color: #CEAF7F"
                           class="bi bi-calendar-heart-fill p-2"></i>
                        <h3 style="justify-content: center; display: flex;color: #CEAF7F;" class="p-1">To'ylar &
                            Marosimlar</h3>
                        <h6 style="text-align: center;color: white;">
                            Restoranimiz sizning eng quvonchli kunlaringizni unutilmas tarzda o‘tkazishga yordam beradi.
                            To‘y va marosimlar uchun keng va zamonaviy zalimiz sizni kutmoqda.
                            Har bir daqiqa bayramona kayfiyat va yuqori xizmat bilan bezatiladi.
                        </h6>
                        <span class="p-2 mt-3"
                              style="background-color: black; border-radius: 30px; justify-content: center; display:flex; color: antiquewhite;">
                        150 tagacha mehmon</span>
                    </div>
                    <div class="col-3 p-2 m-5"
                         style="background-color: rgba(37, 42, 43, 0.7);border-radius: 20px; transition: 0.3s"
                         onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 8px 16px rgba(0,0,0,0.4)';"
                         onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='none';">
                        <i style="font-size: 80px; justify-content: center;display: flex;color: #CEAF7F"
                           class="bi bi-buildings p-2"></i>
                        <h3 style="justify-content: center; display: flex;color: #CEAF7F;" class="p-1">Korporativ
                            tadbirlar</h3>
                        <h6 style="text-align: center;color: white;">
                            Biznes uchrashuvlari va korporativ tadbirlaringizni qulay va hashamatli muhitda tashkil
                            etamiz.
                            Restoranimizda professional xizmat va zamonaviy sharoitlar sizni kutmoqda.
                            Jamoangiz uchun esda qolarli va samarali tadbir o‘tkazishga yordam beramiz.
                        </h6>
                        <span class="p-2 mt-3"
                              style="background-color: black; border-radius: 30px; justify-content: center; display:flex; color: antiquewhite;">
                        100 tagacha mehmon</span>
                    </div>
                    <div class="col-3 p-3 m-5"
                         style="background-color: rgba(37, 42, 43, 0.7);border-radius: 20px; transition: 0.3s;"
                         onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 8px 16px rgba(0,0,0,0.4)';"
                         onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='none';">
                        <i style="font-size: 80px; justify-content: center;display: flex;color: #CEAF7F"
                           class="bi bi-people p-2"></i>
                        <h3 style="justify-content: center; display: flex;color: #CEAF7F;" class="p-1">Shaxsiy
                            yig'inlar</h3>
                        <h6 style="text-align: center;color: white;">
                            Do‘stlaringiz yoki yaqinlaringiz bilan sokin va samimiy muhitda vaqt o‘tkazing.
                            Restoranimiz shaxsiy yig‘ilishlar uchun maxsus xonalar va yuqori darajadagi xizmatni taqdim
                            etadi. Siz uchun qulaylik, shinamlik va unutilmas lahzalar kafolatlanadi.
                        </h6>
                        <span class="p-2 mt-3"
                              style="background-color: black; border-radius: 30px; justify-content: center; display:flex; color: antiquewhite;">
                        50 tagacha mehmon</span>
                    </div>
                    <div class="col-8">
                        <img style="width: auto; height: 625px; border-radius: 30px"
                             src="/media/background_photos/chap%20rasm.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img style="width: auto; height: 300px; border-radius: 30px;"
                             src="/media/background_photos/ongust.jpg" alt="">
                        <img class="mt-4" style="width: auto; height: 300px; border-radius: 30px;"
                             src="/media/background_photos/ongpast.jpg" alt="">

                    </div>


                </div>
            </div>

            <h1 style="justify-content: center; color: #CEAF7F; display: flex; padding: 40px; margin-top: 10px; font-size: 40px">
                Bog'lanish </h1>
            <div class="text-white" style="display: flex;">
                <div style="border-radius: 30px; display: flex; background-color: rgba(37, 42, 43, 0.7);
             padding: 20px; margin: 10px; height: 150px; width: 470px"
                     class="col-4">
                    <i style="font-size: 50px; color: #CEAF7F" class="bi bi-geo-alt p-3"></i>
                    <div class="p-3">
                        <h4 class="fw-bold">Bizning manzilimiz</h4>
                        <h6>Amir Temur ko'chasi 108-uy</h6>
                    </div>
                </div>
                <div style="border-radius: 30px; display: flex; background-color: rgba(37, 42, 43, 0.7);
             padding: 20px; margin: 10px; height: 150px; width: 470px;"
                     class="col-4">
                    <i style="font-size: 50px; color: #CEAF7F" class="bi bi-envelope-at-fill p-3"></i>
                    <div class="p-3">
                        <h4 class="fw-bold">Email</h4>
                        <h6>itolmasov.olmasjon1505@gmail.com</h6>
                    </div>
                </div>
                <div style="border-radius: 30px; display: flex; background-color: rgba(37, 42, 43, 0.7);
            padding: 20px; margin: 10px; height: 150px; width: 470px;"
                     class="col-4">
                    <i style="font-size: 50px; color: #CEAF7F" class="bi bi-headset p-3"></i>
                    <div class="p-3">
                        <h4 class="fw-bold">Ish vaqtimiz</h4>
                        <h6>Dush - Shan: 9:00 dan 22:00 gacha</h6>
                        <h6>Yakshanba: 7:00 dan 23:00 gacha</h6>
                    </div>
                </div>

            </div>


        </div>



    {% else %}

    {% endif %}
{% endblock %}
